<div class="">
  <div class="breadcrumb">
    <h1 class="pull-left">Scheduler</h1>
    <input type="text" placeholder="Search user by name, phone, email" [formControl]="searchControl" class="form-control form-control-rounde pull-left w-30 ml-2">
  </div>
  <div class="clear"></div>
  <div class="separator-breadcrumb border-top mb-10 mt-10"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card  o-hidden">
        <loading [loading]="loading"></loading>
        <table class="tableBodyScroll table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th class="w-80 pl-2">Job</th>
              <th class="w-20 text-center">Action</th>
            </tr>
          </thead>
          <tbody class="tableBodyScroll" style="height: 350px;">
            <tr>
              <td class="pl-2 w-80">Raise Monthly Invoice</td>
              <td class=" w-20 text-center">
                <button class="btn btn-icon btn-info" ngbTooltip="Run Job" (click)="raiseMonthlyInvoices()"><i class="i-Flash"></i></button></td>
            </tr>
            <tr>
              <td class="pl-2 w-80">Settle ShortTerm Bookings</td>
              <td class=" w-20 text-center">
                <button class="btn btn-icon btn-info" ngbTooltip="Run Job" (click)="settleShortTermBookings()"><i class="i-Flash"></i></button></td>
            </tr>
            <tr>
              <td class="pl-2 w-80">Update Free Credits</td>
              <td class=" w-20 text-center">
                <button class="btn btn-icon btn-info" ngbTooltip="Run Job" (click)="updateFreeCredits()"><i class="i-Flash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>