<div class="">
  <div class="breadcrumb row">
    <h1 class="pull-left col-md-3 mb-1">Resource Bookings
      <help-notes [context]="'Booking:ResourceBookingStatusFlow'" [type]="'popup'" [placement]="'bottom'" class="float-right  ml-10"></help-notes>
      <help-notes [context]="'Booking:ResourseBookingStatusDefinition'" [type]="'popup'" [placement]="'bottom'" class="float-right  ml-10"></help-notes>
    </h1>
    <div class="col-md-4 mb-1 pull-left">
      <input type="text" placeholder="Search by client name, phone, email, reference number, location, city" [formControl]="searchControl" class="form-control form-control-rounde pull-left w-90">
      <!-- <button class="btn btn-info btn-icon"><i class="i-Filter-2"></i></button> -->
      <div class="clear"></div>
    </div>
    <div class="col-md-3 mb-1 pull-left">
      <ng-select class="ml-10" [items]="['Pending','Done','Cancelled']" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" placeholder="Statuses" [(ngModel)]="filter.statuses" [ngModelOptions]="{standalone: true}" (ngModelChange)="resetList()"></ng-select>
    </div>
    <button class="col-md-2 col-6 btn btn-outline-primar btn-primary btn-rounde btn-ico pull-right" (click)="newBooking()">
      <i class="fa fa-plus"></i> Booking
    </button>
    <div class="clear"></div>
  </div>
  <div class="separator-breadcrumb border-top mb-10 mt-10"></div>
  <div class="list-horizontal tableBodyScroll" infiniteScroll (onScroll)="loadMore()" style="overflow:auto;max-height: calc(100vh - 140px);padding-top: 20px;margin-top: -10px;">
    <!-- SINGLE LIST ITEM -->
    <loading [loading]="loading"></loading>
    <div *ngFor="let item of items;let i=index" class="list-item col-md-12">
      <div class="card mb-2 d-flex flex-row">
        <div class="flex-grow-1 d-flex">
          <div class="card-body align-self-center pl-2 d-flex flex-column justify-content-between align-items-lg-center flex-lg-row p-1">
            <div class="m-0 text-muted text-small w-20 w-sm-100">
              <div class="text-primary"><i class="i-Building"></i> {{item.resource?.name}}</div>
              <span class="badge badge-secondary">{{item.resource?.type}}</span>
            </div>
            <a href="" class="w-25 w-sm-100">
              <div class="item-title">{{item.client?.name}}</div>
              <span class="m-0 text-secondary text-smal">{{item.refNo}}</span>
              <span class="mr-20 text-secondary text-smal pull-right d-ib">Amount: <span class="m-0 text-primary">{{item.amount | inr}}</span></span>
            </a>
            <div class="m-0 text-muted text-small w-25 w-sm-100">
              <div class="d-b text-primary"> <span class="text-secondary">R :</span> {{item.date | date : 'MMM dd, yyyy'}}</div>
              <span class="d-b text-info"> <span class="text-secondary">B :</span> {{item.from | date : 'MMM dd, yyyy hh:mm a'}} - {{item.to | date : ' hh:mm a'}}</span>
            </div>
            <div class="m-0 text-muted text-small w-30 w-sm-100">
              <div class="m-0 text-muted text-small w-75 float-left">
                <div class="text-primary"><i class="i-Telephone"></i> {{item.client?.phone}}</div>
                <span class="text-secondary"><i class="i-Email"></i> {{item.client?.email}}</span>
              </div>
              <div class="m-0 text-muted text-small w-20 float-right item-actions  mr-1 ml-5">
                <div class="badge badge-info">{{item.status}}</div>
                <button class="btn btn-icon btn-info" placement="left" ngbTooltip="View Detailed Booking" routerLink="/bookings/view/{{(item.parentBookingId || item.bookingId)}}">
                  <i class="i-Magnifi-Glass1 text-bold"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>