<div class="dashboards">
  <div class="breadcrumb">
    <h1>Business Ops WorkBenches</h1>
  </div>
  <div class="separator-breadcrumb border-top mb-2"></div>
  <loading [loading]="loading"></loading>
  <loading [loading]="loading"></loading>
  <div class="row">
    <div class="col-lg-6 col-md-6 pl-0">
      <h4 class="pl-20 ml-20 mb-0 border-bottom">Desk Bookings</h4>
      <ngb-tabset class="nav-center nav-no-bg">
        <ngb-tab title="Pending Document Uploads ({{workbenches.deskBookings?.pendingSignedAgreements?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.deskBookings?.pendingSignedAgreements">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} -
                        <small class="badge fs-10" [ngClass]="{'badge-light':booking.contract.status=='Draft','badge-info':booking.contract.status=='Approved','badge-success':booking.contract.status=='Confirmed'}">{{booking.contract.status}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">Moving In on <strong>{{booking.started | date : 'MMM dd, yyyy'}}</strong> with SD as <strong>{{booking.contract.security | inr}}</strong> and Rent as
                      <strong>{{booking.contract.rent | inr}}</strong></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.deskBookings?.pendingSignedAgreements?.length">No Bookings waiting for Accounts Approval</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- <ngb-tab title="Missed MoveIns ({{workbenches.moveIns?.missedMoveIns?.length}})"> -->
        <ngb-tab>
          <ng-template ngbTabTitle> <span class="text-danger f-b">Missed MoveIns ({{workbenches.moveIns?.missedMoveIns?.length}}) </span> </ng-template>
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.moveIns?.missedMoveIns">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} - <small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">MoveIn on <strong>{{booking.started | date : 'MMM dd, yyyy'}}</strong></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.moveIns?.missedMoveIns?.length">No Booking MoveIn is missed</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Upcoming MoveIns ({{workbenches.moveIns?.futureMoveIns?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches?.moveIns?.futureMoveIns">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} -<small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">MoveIn on <strong>{{booking.started | date : 'MMM dd, yyyy'}}</strong></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
              </div>
              <div class="m-auto text-center" *ngIf="!workbenches.moveIns?.futureMoveIns.length">No bookings for MoveIns</div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-md-6 pl-0">
      <h4 class="pl-20 ml-20 mb-0 border-bottom">Resource Bookings</h4>
      <ngb-tabset class="nav-center nav-no-bg">
        <ngb-tab title="Payment Pending ({{workbenches.resourceBookings?.pending?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches?.resourceBookings?.pending">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} -
                        <small class="badge badge-info fs-10">{{booking.resource.name}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">From : <strong>{{booking.started | date : 'MMM dd, yyyy hh:mm a'}}</strong> to <strong> {{booking.started | date : 'hh:mm a'}} </strong> for <strong>{{booking.amount | inr}}</strong> </p>
                  </div>
                  <!-- <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div> -->
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.resourceBookings?.pending.length">No payment pending resource bookings</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Paid ({{workbenches.resourceBookings?.paid?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.resourceBookings?.paid">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} -
                        <small class="badge badge-info fs-10">{{booking.resource.name}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">From : <strong>{{booking.started | date : 'MMM dd, yyyy hh:mm a'}}</strong> to <strong> {{booking.started | date : 'hh:mm a'}} </strong> for <strong>{{booking.amount | inr}}</strong> </p>
                  </div>
                  <!-- <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div> -->
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.resourceBookings?.paid?.length">No Resource Bookings are done</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 pr-0 pl-1">
      <h4 class="pl-20 ml-20 mb-0 border-bottom">MoveOuts</h4>
      <ngb-tabset class="nav-center nav-no-bg">
        <ngb-tab title="Upcoming ({{workbenches.exits?.upcomingExits?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches?.exits?.upcomingExits">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} -<small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">Exit on <strong>{{booking.ended | date : 'MMM dd, yyyy'}}</strong></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.exits?.upcomingExits.length">No bookings for MoveOuts</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <!-- title="Missed  ({{workbenches.exits?.missedExits?.length}})"> -->
          <ng-template ngbTabTitle> <span class="text-danger f-b">Missed ({{workbenches.exits?.missedExits?.length}}) </span> </ng-template>
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.exits?.missedExits">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} - <small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">Exit on <strong>{{booking.ended | date : 'MMM dd, yyyy'}}</strong></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.exits?.missedExits?.length">No Booking MoveIn is missed</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-lg-6 col-md-6 pl-0 pl-1">
      <h4 class="pl-20 ml-20 mb-0 border-bottom">Refunds</h4>
      <ngb-tabset class="nav-center nav-no-bg">
        <ngb-tab title="Manager Approvals ({{workbenches.exits?.pendingApprovals?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.exits?.pendingApprovals">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} - <small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">Exited on <strong>{{booking.ended | date : 'MMM dd, yyyy'}}</strong>, refund of {{booking.exitRequest.refund | inr}} is pending for Approval</p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.exits?.pendingApprovals?.length">No Exits refunds are pending for Approval</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Client Acceptance ({{workbenches.exits?.pendingAcceptance?.length}})">
          <ng-template ngbTabContent>
            <hr class="mb-1 p-0" style="margin-top: -35px">
            <div class="card">
              <div class="card-body tableBodyScroll" infiniteScroll [autoHeightAdjust]="250">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2 border-bottom" *ngFor="let booking of workbenches.exits?.pendingAcceptance">
                  <div class="flex-grow-1">
                    <h5 class="mb-0"><a href="#/bookings/view/{{booking.id}}">{{booking.client.company || booking.client.name}} - <small class="fs-10">{{booking.offices}}</small>
                      </a></h5>
                    <p class="m-0 text-small text-muted mb-1">Exited on <strong>{{booking.ended | date : 'MMM dd, yyyy'}}</strong>, refund of {{booking.exitRequest.refund | inr}} is waiting for Client Acceptance</p>
                  </div>
                  <div>
                    <a class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm" href="#/bookings/view/{{booking.id}}">View</a>
                  </div>
                </div>
                <div class="m-auto text-center" *ngIf="!workbenches.exits?.pendingAcceptance?.length">No Exits refunds are waiitng for Client Acceptance</div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>