<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Accounting Voucher Display</title>
    <meta name="author" content="admin" />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      h1 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s1 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }

      .s2 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s3 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s4 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
      }
      .s5 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
      }
      .s6 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .s7 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s8 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s9 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 9pt;
      }
      .s10 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
        vertical-align: 1pt;
      }
      .s11 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
        vertical-align: 3pt;
      }
      .s13 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 9pt;
      }
      p {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
        margin: 0pt;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <h1
      style="
        padding-top: 3pt;
        padding-left: 160pt;
        text-indent: 0pt;
        text-align: center;
      "
    >
      Tax Invoice
    </h1>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <table
      style="border-collapse: collapse; margin-left: 5.909pt"
      cellspacing="0"
    >
      <tr style="height: 26pt">
        <td
          style="
            width: 236pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          rowspan="3"
        >
          <p
            class="s1"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CLOMOSO TECHNOLOGIES PRIVATE LIMITED
          </p>
          <p
            class="s2"
            style="padding-left: 2pt; text-indent: 0pt; text-align: left"
          >
            #1564, Revanna&#39;s building,27th Main,HSR Layout, Bengaluru,
            Karnataka 560102
          </p>
          <p
            class="s2"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            GSTIN/UIN: 29AAGCC4583M3ZZ
          </p>
          <p
            style="
              padding-left: 2pt;
              padding-right: 76pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            <a href="mailto:accounts1@hustlehub.xyz" class="s3" target="_blank"
              >State Name : Karnataka, Code : 29 E-Mail :
              accounts1@hustlehub.xyz</a
            >
          </p>
        </td>
        <td
          style="
            width: 117pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Invoice No.
          </p>
          <p
            class="s1"
            style="
              padding-top: 2pt;
              padding-left: 5pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            OBR-23/Sep/015
          </p>
        </td>
        <td
          style="
            width: 115pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="5"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Dated
          </p>
          <p
            class="s1"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            13-Sep-23
          </p>
        </td>
      </tr>
      <tr style="height: 26pt">
        <td
          style="
            width: 117pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Delivery Note
          </p>
        </td>
        <td
          style="
            width: 115pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="5"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Mode/Terms of Payment
          </p>
        </td>
      </tr>
      <tr style="height: 25pt">
        <td
          style="
            width: 49pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Reference
          </p>
        </td>
        <td
          style="
            width: 24pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p
            class="s4"
            style="text-indent: 0pt; line-height: 10pt; text-align: left"
          >
            No. &amp;
          </p>
        </td>
        <td
          style="
            width: 44pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="text-indent: 0pt; line-height: 10pt; text-align: left"
          >
            Date.
          </p>
        </td>
        <td
          style="
            width: 26pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Other
          </p>
        </td>
        <td
          style="
            width: 89pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="3"
        >
          <p
            class="s4"
            style="
              padding-left: 1pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            References
          </p>
        </td>
      </tr>
      <tr style="height: 25pt">
        <td
          style="
            width: 236pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          rowspan="4"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Buyer (Bill to)
          </p>
          <p
            class="s1"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            R J M J &amp; Associates
          </p>
          <p
            class="s2"
            style="
              padding-left: 2pt;
              padding-right: 42pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            No. 14, 2nd Floor, 80 feet road, Kormangala 1st Block, Bangalore-
            560034 State Name : Karnataka, Code : 29 GSTIN/UIN : 29AAQFR8152G1ZM
          </p>
        </td>
        <td
          style="
            width: 117pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Buyer&#39;s Order No.
          </p>
        </td>
        <td
          style="
            width: 115pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="5"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Dated
          </p>
        </td>
      </tr>
      <tr style="height: 23pt">
        <td
          style="
            width: 117pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Dispatch Doc No.
          </p>
        </td>
        <td
          style="
            width: 115pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="5"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Delivery Note Date
          </p>
        </td>
      </tr>
      <tr style="height: 24pt">
        <td
          style="
            width: 117pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Dispatched through
          </p>
        </td>
        <td
          style="
            width: 115pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="5"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Destination
          </p>
        </td>
      </tr>
      <tr style="height: 74pt">
        <td
          style="
            width: 232pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="7"
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Terms of Delivery
          </p>
        </td>
      </tr>
      <tr style="height: 22pt">
        <td
          style="
            width: 14pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s2"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 90%;
              text-align: left;
            "
          >
            Sl No.
          </p>
        </td>
        <td
          style="
            width: 222pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 80pt;
              padding-right: 83pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: center;
            "
          >
            Description of
          </p>
          <p
            class="s4"
            style="
              padding-left: 80pt;
              padding-right: 83pt;
              text-indent: 0pt;
              text-align: center;
            "
          >
            Services
          </p>
        </td>
        <td
          style="
            width: 49pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            HSN/SAC
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 7pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Quantity
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Rate
          </p>
        </td>
        <td
          style="
            width: 21pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 3pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            per
          </p>
        </td>
        <td
          style="
            width: 68pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 18pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Amount
          </p>
        </td>
      </tr>
      <tr style="height: 176pt">
        <td
          style="
            width: 14pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s2"
            style="
              padding-top: 5pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            1
          </p>
        </td>
        <td
          style="
            width: 222pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s1"
            style="
              padding-top: 5pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Rental Charges for the Month of Sep-23
          </p>
          <p
            class="s5"
            style="padding-left: 12pt; text-indent: 0pt; text-align: left"
          >
            Rental Charges From 15sep To 30 Sep
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s6"
            style="padding-left: 167pt; text-indent: 3pt; text-align: right"
          >
            SGST@9% CGST @9%
          </p>
        </td>
        <td
          style="
            width: 49pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 4pt;
              padding-left: 4pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            997212
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s1"
            style="
              padding-top: 5pt;
              padding-left: 7pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            30 units
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 4pt;
              padding-left: 9pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            3,200.00
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s7"
            style="padding-left: 39pt; text-indent: 0pt; text-align: left"
          >
            9
          </p>
          <p
            class="s7"
            style="padding-left: 39pt; text-indent: 0pt; text-align: left"
          >
            9
          </p>
        </td>
        <td
          style="
            width: 21pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 4pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            units
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s7"
            style="padding-left: 2pt; text-indent: 0pt; text-align: left"
          >
            %
          </p>
          <p
            class="s7"
            style="padding-left: 2pt; text-indent: 0pt; text-align: left"
          >
            %
          </p>
        </td>
        <td
          style="
            width: 68pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s1"
            style="
              padding-top: 5pt;
              padding-left: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            96,000.00
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s1"
            style="
              padding-top: 9pt;
              padding-left: 27pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            8,640.00
          </p>
          <p
            class="s1"
            style="padding-left: 27pt; text-indent: 0pt; text-align: left"
          >
            8,640.00
          </p>
        </td>
      </tr>
      <tr style="height: 14pt">
        <td
          style="
            width: 14pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 222pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="text-indent: 0pt; line-height: 10pt; text-align: right"
          >
            Total
          </p>
        </td>
        <td
          style="
            width: 49pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s1"
            style="
              padding-left: 7pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            30 units
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 21pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 68pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s8"
            style="
              padding-left: 3pt;
              text-indent: 0pt;
              line-height: 13pt;
              text-align: left;
            "
          >
            ₹1,13,280.00
          </p>
        </td>
      </tr>
      <tr style="height: 28pt">
        <td
          style="
            width: 285pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Amount Chargeable (in words)
          </p>
          <p
            class="s1"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            INR One Lakh Thirteen Thousand Two Hundred Eighty Only
          </p>
        </td>
        <td
          style="
            width: 47pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 21pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 10pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 16pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 21pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 16pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 52pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s5"
            style="
              padding-right: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: right;
            "
          >
            E. &amp; O.E
          </p>
        </td>
      </tr>
      <tr style="height: 10pt">
        <td
          style="
            width: 195pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          rowspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 74pt;
              padding-right: 78pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: center;
            "
          >
            HSN/SAC
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          rowspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 15pt;
              padding-right: 9pt;
              text-indent: -4pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Taxable Value
          </p>
        </td>
        <td
          style="
            width: 84pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 29pt;
              padding-right: 28pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: center;
            "
          >
            CGST
          </p>
        </td>
        <td
          style="
            width: 84pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="4"
        >
          <p
            class="s4"
            style="
              padding-left: 13pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            SGST/UTGST
          </p>
        </td>
        <td
          style="
            width: 52pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          rowspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              padding-right: 2pt;
              text-indent: 13pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Total Tax Amount
          </p>
        </td>
      </tr>
      <tr style="height: 10pt">
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 6pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Rate
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 11pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Amount
          </p>
        </td>
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 6pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Rate
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 10pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Amount
          </p>
        </td>
      </tr>
      <tr style="height: 11pt">
        <td
          style="
            width: 195pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            997212
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 10pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            96,000.00
          </p>
        </td>
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 16pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            9%
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 15pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            8,640.00
          </p>
        </td>
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 15pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            9%
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s4"
            style="
              padding-left: 15pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            8,640.00
          </p>
        </td>
        <td
          style="
            width: 52pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-right: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: right;
            "
          >
            17,280.00
          </p>
        </td>
      </tr>
      <tr style="height: 11pt">
        <td
          style="
            width: 195pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s9"
            style="
              padding-right: 1pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: right;
            "
          >
            Total
          </p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s9"
            style="
              padding-left: 10pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            96,000.00
          </p>
        </td>
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s9"
            style="
              padding-left: 15pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            8,640.00
          </p>
        </td>
        <td
          style="
            width: 31pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 53pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="2"
        >
          <p
            class="s9"
            style="
              padding-left: 15pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            8,640.00
          </p>
        </td>
        <td
          style="
            width: 52pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s9"
            style="
              padding-right: 2pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: right;
            "
          >
            17,280.00
          </p>
        </td>
      </tr>
      <tr style="height: 88pt">
        <td
          style="
            width: 468pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="8"
        >
          <p
            class="s10"
            style="
              padding-top: 4pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Tax Amount (in words) :
            <span class="s1"
              >INR Seventeen Thousand Two Hundred Eighty Only</span
            >
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s4"
            style="
              padding-left: 236pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Company&#39;s Bank Details
          </p>
          <p
            class="s4"
            style="
              padding-left: 236pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            A/c Holder&#39;s Name: <b>CLOMOSO TECHNOLOGIES PRIVATE LIMITED</b>
          </p>
          <p
            class="s4"
            style="
              padding-left: 236pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            Bank Name : <b>Kotak Mahindra</b>
          </p>
          <p
            class="s4"
            style="
              padding-left: 236pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            A/c No. : <b>9611778643</b>
          </p>
          <p
            class="s11"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 12pt;
              text-align: left;
            "
          >
            Company&#39;s PAN : <b>AAGCC4583M </b
            ><span class="s4">Branch &amp; IFS Code: </span
            ><b>Jakkasandra, Bangalore &amp; KKBK0000430</b>
          </p>
        </td>
      </tr>
      <tr style="height: 43pt">
        <td
          style="
            width: 236pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s13"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            Declaration
          </p>
          <p
            class="s4"
            style="padding-left: 2pt; text-indent: 0pt; text-align: left"
          >
            We declare that this invoice shows the actual price of the goods
            described and that all particulars are true and correct.
          </p>
        </td>
        <td
          style="
            width: 232pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
          colspan="7"
        >
          <p
            class="s9"
            style="
              padding-left: 40pt;
              text-indent: 0pt;
              line-height: 10pt;
              text-align: left;
            "
          >
            for CLOMOSO TECHNOLOGIES PRIVATE LIMITED
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s4"
            style="padding-right: 1pt; text-indent: 0pt; text-align: right"
          >
            Authorised Signatory
          </p>
        </td>
      </tr>
    </table>
    <p
      style="
        padding-top: 5pt;
        padding-left: 161pt;
        text-indent: 0pt;
        text-align: center;
      "
    >
      This is a Computer Generated Invoice
    </p>
  </body>
</html>
