<div class="">
  <div class="breadcrumb">
    <h1 class="pull-left">Visits</h1>
    <input type="text" placeholder="Search visitor by name, phone" [formControl]="searchControl" class="form-control form-control-rounde pull-left w-30 ml-2">
  </div>
  <div class="clear"></div>
  <div class="separator-breadcrumb border-top mb-10 mt-10"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card  o-hidden">
        <data-list #list [filter]="filter" [dataUrl]="'client/listVisits'" [config]="config" (onAction)="action($event)"></data-list>
      </div>
    </div>
  </div>
</div>
<ng-template #visitModal let-modal class="modal-lg">
  <loading [loading]="loading" [type]="'loader-bubble'"></loading>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Visit Notification to {{visit.visiteePhone}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{visit.message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('close click')">Close</button>
  </div>
</ng-template>