<div class="row">
  <div class="col-md-11 col-12 m-auto">
    <div class="breadcrumb">
      <h1 class="pull-left">Request to Verify Employee Details </h1>
    </div>
    <div class="clear"></div>
    <div class="separator-breadcrumb border-top mb-10 mt-10"></div>
    <div class="card  mb-1 d-b m-auto mt-4" *ngIf="!data">
      <loading [loading]="loading" [type]="'loader-bubble'"></loading>
    </div>
    <div class="card user-profile o-hidden mb-1 d-b" *ngIf="data">
      <div class="card-body pt-1">
        <loading [loading]="loading"></loading>
        <h5 class="f-b">Company Information</h5>
        <div class="row ">
          <div class="col-md-5 mb-2">
            <p class="text-black f-b mb-0">Name : </p>
            <span class="">{{data.client?.company}}</span>
          </div>
          <div class="col-md-7 mb-2">
            <p class="text-black f-b mb-0">Office : </p>
            <span class="">{{data.client?.booking?.office?.floor}}, {{data.client?.booking?.office?.building?.name}}, {{data.client?.booking?.office?.building?.address}}</span>
          </div>
        </div>
        <div>
          <h5 class="mt-2 f-b">Contact Details : </h5>
          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-3 form-group mb-1">
                <label for="firstName">Contact Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Contact Name" [(ngModel)]="data.name">
              </div>
              <div class="col-md-3 form-group mb-1">
                <label for="firstName">Contact Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Contact Email" [(ngModel)]="data.email">
              </div>
              <div class="col-md-3 form-group mb-1">
                <label for="firstName">Contact Phone</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Enter Contact Phone" [(ngModel)]="data.phone">
              </div>
              <div class="col-md-4 form-group mb-1 mt-4 pt-1" *ngIf="data.verified">
                <strong class="text-success">You are verified successfully, please set password for your account .. !!</strong>
              </div>
              <div class="col-md-3 form-group mb-1" *ngIf="data.verified">
                <label for="firstName">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password" [(ngModel)]="data.password">
              </div>
              <div class="col-md-3 form-group mb-1" *ngIf="data.verified">
                <label for="firstName">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
              </div>
              <div class="col-md-2 form-group mb-1 mt-4 pt-1" *ngIf="data.verified">
                <button class="btn btn-primary btn-sm ladda-button btn-ico float-right" [ladda]="loading" (click)="saveEmployee()" [disabled]="!data.password || data.password=='' || data.password!=confirmPassword"><i class="fa fa-check" *ngIf="!loading"></i> Confirm Password</button>
              </div>
              <div class="col-md-3 form-group mb-1 mt-4 pt-1" *ngIf="!otpSent && !data.verified">
                <button class="btn btn-primary btn-sm ladda-button btn-ico float-right" [ladda]="loading" (click)="requestOTP()" [disabled]="form.invalid||loading"><i class="fa fa-check" *ngIf="!loading"></i> Confirm Details</button>
              </div>
              <div class="col-md-3 form-group mb-1 mt-4 pt-1" *ngIf="otpSent && !data.verified">
                <input type="number" class="form-control w-50 float-left" placeholder="Enter OTP here" [(ngModel)]="otp" [ngModelOptions]="{standalone:true}">
                <button class="btn btn-primary btn-sm ladda-button btn-ico float-right" [ladda]="loading" (click)="confirm()" [disabled]="!otp||loading"><i class="fa fa-check" *ngIf="!loading"></i> Verify OTP</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>