<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      font-family: Nunito, sans-serif;
      letter-spacing: .3px;
      line-height: 1.6;
      font-size: .913rem;
      font-weight: 400;
      color: #47404f;
    }
  </style>    
  <title>Invoice Email</title>
</head>
<body>
  <p>Dear Team,</p>

<p>Hope you are doing well,</p>

<p>Please find the attached June-2024 invoice for your reference.</p>
<strong>
<p>Regards, <br> Accounts Team<br>
  <img src="http://135.181.20.185:9900/download/hhlogo.png" alt="Hustlehub LOGO" width="120" height="40">
</p>
</strong>
</body>
</html>